<div class="row">
  <div class="col-md-10 mx-auto">
    <h2>Détails du livre</h2>
    <h3 class="my-4">
      <strong>Livre : </strong> {{ livre?.titre }} ({{ livre?.type.nom }})
    </h3>

    <div class="d-flex justify-content-between">
      <div>
        <p><strong>ISBN : </strong> {{ livre?.isbn }}</p>
        <p><strong>Date de parution : </strong>{{ livre?.dateDeParution }}</p>
      </div>

      <div>
        <p>
          <strong>Auteur : </strong>{{ livre?.auteur.nom }}
          {{ livre?.auteur.prenom }}
        </p>
        <p><strong>Editeur : </strong>{{ livre?.editeur.nom }}</p>
      </div>
    </div>

    <div class="mt-4">
      <button class="btn btn-secondary" routerLink="/livres">
        Retour à la liste
      </button>
    </div>
  </div>
</div>
