<div class="row">
  <div class="col-md-10 mx-auto">
    <h2>Inscription</h2>

    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          type="text"
          formControlName="nom"
          id="nom"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          formControlName="prenom"
          id="prenom"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          id="email"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="mdp">Mot de passe</label>
        <input
          type="password"
          formControlName="motDePasse"
          id="mdp"
          class="form-control"
        />
      </div>

      <div class="form-group mb-3">
        <label for="dateDeNaissance">Date de naissance</label>
        <input
          type="date"
          formControlName="dateDeNaissance"
          id="dateDeNaissance"
          class="form-control"
        />
      </div>

      <button type="submit" class="btn btn-success me-2">S'inscrire</button>
      <button class="btn btn-secondary" routerLink="">
        Retour à l'accueil
      </button>
    </form>
  </div>
</div>
